@model Testimonial
@{
    ViewBag.Title = "Testimonial Edit";
    ViewBag.PageTitle = "Testimonial Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <form action="/Admin/AcTestimonialsEdit" method="post" class="row g-0" enctype="multipart/form-data">

                    <div class="col-12">
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="ImgPath" />
                        <div class="mb-3">
                            <label asp-for="Name" class="from-label mb-2">Enter Name</label>
                            <input type="text" asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Title" class="from-label mb-2">Enter Title</label>
                            <input type="text" asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Description" class="from-label mb-2">Enter Description</label>
                            <input type="text" asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Upload Image :</label>
                            <input type="file" id="formFile" name="formFile" class="form-control" />
                        </div>
                    </div>
                    <div class="text-end">
                        <button type="submit" class="btn btn-outline-primary">Submit</button>
                        <button type="reset" class="btn btn-danger ms-3">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>